html {
  text-align: center;
}
body {
  background-color: #f2f4fc;
}
* {
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", sans-serif;
  max-width: 1200px;
  box-sizing: border-box;
}
img {
  background-color: transparent;
}
h1,
h2,
h3,
h4 {
  color: #292e47;
  background-color: transparent;
}
h1 {
  font-size: 60px;
  text-transform: capitalize;
}
h2 {
  font-size: 50px;
}
h3 {
  font-size: 40px;
  padding-bottom: 50px;
}
h4 {
  font-size: 24px;
}
p {
  color: #6b708d;
  background-color: transparent;
}
.hamburger-btn {
  display: none;
  flex-direction: column;
  gap: 5px;
}
.hamburger-btn span {
  width: 30px;
  height: 3px;
  transition: all 0.3s ease;
}
.main-header {
  display: flex;
  align-items: center;
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 90%;
}
.main-header img {
  margin: 0;
}
.navbar {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 60px;
}
.navbar a {
  display: inline-block;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  color: #6b708d;
}
.navbar a:hover {
  color: #072acb;
}
.btn {
  display: flex;
  margin: 0;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  color: #f2f4fc;
  width: 150px;
  height: 52px;
  background-color: #072acb;
  align-items: center;
  justify-content: center;
}
.btn:hover {
  color: #ffc600;
}
.hero {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 60px auto;
  max-width: 90%;
}
.hero p {
  font-size: 20px;
  font-weight: 500;
  margin: 25px auto;
}

.hero-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}
.whitebox {
  background-color: transparent;
  color: #6b708d;
}
.whitebox:hover {
  color: #072acb;
}
.hero-text {
  text-align: left;
}
.hero-container {
  position: relative;
}
.hero-img-pral {
  position: relative;
  width: 100%;
}
.hero-top-img,
.hero-bottom-img {
  border: none;
  outline: none;
  width: 70%;
  position: absolute;
}
.hero-top-img {
  top: -30px;
  left: -80px;
}
.hero-bottom-img {
  bottom: -140px;
  right: -80px;
}
.ad-pages {
  display: flex;
  max-width: 90%;
  gap: 130px;
  margin: 200px auto;
  padding: 0px;
  flex-flow: row wrap;
  justify-content: center;
}

.ad-pages img {
  margin: 0px;
  padding: 0px;
  filter: grayscale(100%);
}
.ad-pages img:hover {
  filter: grayscale(0%);
}
#projects {
  text-align: left;
  margin: 0 auto;
  max-width: 90%;
}
#projects h3 {
  padding-bottom: 34px;
}
.cards-container {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  justify-content: center;
  gap: 20px;
}
.card {
  min-width: 250px;
  width: 30%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin: 0;
}
.card h4,
.card p,
.card a {
  background-color: transparent;
}
.card h4 {
  font-weight: 500;
  margin: 30px 15px 10px;
}
.card p {
  margin: 15px 15px 30px;
}
.card a {
  margin: 30px 15px 20px;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  color: #072acb;
}
.project img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
}

#testimonial {
  margin: 150px 0;
}
.testimonial-container {
  position: relative;
  display: flex;
  width: 95%;
  aspect-ratio: 16/9;
  background-color: #292e47;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
}
.testimonial-container img {
  display: flex;
  object-fit: cover;
}
.testimonial-text-container h3 {
  color: #f2f4fc;
}
.testimonial-text-container h3,
.testimonial-text-container p {
  margin: 0;
  padding: 0;
}
.testimonial-text-container {
  gap: 90px;
  position: absolute;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonial-text-container p {
  font-size: 24px;
  color: #ffc600;
}
.testimonial-girl {
  align-items: center;
  justify-content: center;
  display: flex;
}
.testimonial-girl img {
  margin: 0;
  padding: 0;
  border-radius: 100%;
  aspect-ratio: 1/1;
  width: 60px;
  height: 60px;
  margin-right: 20px;
}
.testimonial-girl-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-shrink: 0;
}

.testimonial-girl-info p {
  font-size: 17px;
  color: #a2d6f9;
}
.testimonial-girl-info aside {
  padding: 0;
  margin: 0;
  font-size: 13px;
  color: #f2f4fc;
}

.emoji {
  position: absolute;
  width: 125px;
  height: auto;
  z-index: 1;
}

.top-left {
  top: 5%;
  left: 5%;
}
.top-right {
  top: 5%;
  right: 5%;
}
.bottom-left {
  bottom: 5%;
  left: 5%;
}
.bottom-right {
  bottom: 5%;
  right: 5%;
}
#services {
  width: 90%;
  margin-bottom: 20px;
  text-align: left;
  margin: 50 auto;
}
.service {
  align-items: start;
}
.service h4 {
  margin-top: 10px;
}
.icon-service-card {
  margin: 40px 15px 0;
  border-radius: 50%;
  background-color: #ecf7ff;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-items: center;
}
.icon-service-card img {
  box-sizing: content-box;
}

#newsletter {
  height: 400px;
  background-color: #ffc600;
  margin: 200px auto;
}
.newsletter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 30px;
}
.newsletter-text-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

.newsletter-text-container h3 {
  padding: 0px;
  margin-bottom: 30px;
}
.newsletter-text-container aside {
  font-size: 24px;
  color: #292e47;
}

.form-input input {
  width: 393px;
  height: 80px;
  border: none;
  padding: 0 75px;
  font-size: 17px;
}
.form-input img {
  position: absolute;
  padding: 25px;
}
.form-submit {
  width: 198px;
  height: 80px;
  border: none;
  color: #ecf7ff;
  background-color: #072acb;
  font-size: 17px;
  font-weight: bold;
}

footer {
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  justify-content: space-between;
  margin-bottom: 50px;
  font-size: 17px;
  color: #6b708d;
}

.address-info {
  margin: 0;
}
.address-info img {
  height: 70px;
  width: auto;
  padding: 0 0 20px;
}

.footer-info {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
}
.footer-info li {
  list-style: none;
  flex: 0 33%;
  padding: 20px 0;
}
.footer-info a {
  text-decoration: none;
  color: #6b708d;
}

.footer-info a:hover {
  color: #072acb;
}

/*PROJECTS.HTML*/
.article-project {
  text-align: left;
  width: 90%;
  margin: 0 auto;
  padding: 100px 0;
}
.article-project h1 {
  padding-bottom: 15px;
}
.article-project img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  filter: drop-shadow(0 0 0.75rem rgb(230, 160, 8));
}
.author-date-project {
  padding-bottom: 70px;
}
.author-date-project {
  display: flex;
  justify-content: space-between;
}
.author-date-project p {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #6b708d;
}
.article-project-content {
  margin: 40px 0;
}
/*CONTACT PAGE*/
.contact-page {
  width: 90%;
  text-align: left;
  padding: 40px 0;
}
.contact-page h1 {
  margin-bottom: 50px;
}

.name-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.label-form {
  display: block;
  margin-bottom: 10px;
  text-align: left;
  font-size: 20px;
  color: #6b708d;
}

.name-form input,
textarea {
  width: 100%;
  height: 60px;
  border: none;
  background-color: #e1e2e8;
  padding: 0 20px;
  color: #6b708d;
  font-size: 17px;
  box-sizing: border-box;
}
textarea {
  padding: 20px;
}
.label-form {
  padding: 0;
  margin: 0;
  text-align: left;
}
.form-inline {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.column-form {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

.column-form .label-form {
  padding-bottom: 10px;
}

#message {
  width: 100%;
  height: 200px;
  align-content: baseline;
}
.submit {
  width: 100%;
}
@media (max-width: 1024px) {
  h1 {
    font-size: 46px;
  }
  .card {
    width: 45%;
  }
  .emojis {
    display: none;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 36px;
  }
  .main-header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin: 0 auto;
  }

  .hamburger-btn {
    order: 1;
    display: flex;
    justify-content: flex-start;
  }

  .main-header img {
    order: 2;
    margin: 0 auto;
  }

  .main-header .btn {
    order: 3;
    text-align: right;
  }
  nav {
    order: 4;
    width: 100%;
  }

  .navbar {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #ffffff;
    list-style: none;
    padding-top: 10px;
    margin: 0;
    margin-top: 20px;
    gap: 10px;
    border-radius: 2%;
  }
  .navbar li {
    border-bottom: 1px #072acb solid;
    width: 100%;
  }
  .navbar.show {
    display: flex;
  }
  .hero {
    margin: 30px auto;
    flex-direction: column;
  }
  .hero-text {
    text-align: center;
    margin-bottom: 30px;
  }
  .hero-btns {
    justify-content: center;
  }
  .card {
    width: 100%;
  }
  #projects h3 {
    text-align: center;
  }
  #services h3 {
    text-align: center;
  }
  .newsletter-container {
    gap: 10px;
  }
  .newsletter-form {
    flex-direction: column;
  }
  footer {
    flex-direction: column;
  }
  .address-info {
    margin-bottom: 50px;
    display: flex;
    justify-content: left;
    flex-direction: column;
  }
}
